.search_in_runtime {
    width: 18%;
    align-content: center;
}
.brand_content {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
}
.brand_content div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 10px 0;
    font-size: 17px;
    font-weight: 300;
}
.submit_button {
    text-align: center;
    border-radius: 10px;
    background-color: #fcdea4;
    height: 30px;
    width: 100%;
}
.brands_selector {
    height: 15px;
    width: 15px;
}