.main_container {
    margin: 5px 30px 40px;
    font-size: 18px;
    font-family: Bahnschrift;
    line-height: 25px;
    border: 2px solid rgba(255,148,76,0.98);
    border-radius: 10px;
    padding: 10px;
}